<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="Homestyles.css" />
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <!--Navbar -->

    <h1>Borrowers</h1>
       <br />

<table name="tabledata" id="tabledata">
  <tbody>
  <tr>
    <th>Name</th>
    <th>Is Restricted</th>
    </tr>
    {{#items}}
      <tr>       
        <td>{{name}}</td>        
        <td>{{is_restricted}}</td>          
        
      </tr>
    {{/items}}
  </tbody>
   
  
</table>

 


  </body>
  

